/* Coolors Exported Palette - coolors.co/e3d8f1-dabeca-bf8b85-666666-f2e2d2 */

$color1: #e3d8f1; //rgba(227, 216, 241, 100)
$color2: #dabeca; //rgba(218, 190, 202, 100)
$color3: #D4A190; //rgba(191, 139, 133, 100)
$color4: #666666; //rgba(102, 102, 102, 100)
$color5: #f2e2d2; //rgba(242, 226, 210, 100)