
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $color4;
}

h1, h2, h3, h4, h5 {
  color: $color4;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h5 {
  color: white;
  font-size: 1.4em;
  border-bottom: 1px solid #eee;
}

img {
  width: 20%;
  height: auto;
  padding: 20px 0 20px 40px;
}

.khPlanCardPlaceholder {
  border: 1px dashed $color4;
  margin: 10px;
  padding: 50px;
  height: 50px;
  text-align: center;
}

.khPlanCard {
  border: 1px solid $color4;
  margin: 10px;
  padding: 10px;
}

.khPlanPanel {
  width: 50%;
  margin: 20px;
}

.khPlanSection {
}

.khQuestionCard {
  margin: 10px;
  padding: 10px;
}

.khQuestionPanel {
  width: 50%;
  margin: 20px;
}

.khQuestionSection {
}

.khShop {
  display: flex;
  flex-direction: row;
  justify-content: center; //space-around;
  width: 100%;
  padding: 10px;
  margin:0;
}

.khProviderCard {
  background-color: #377696;
  border: 1px solid $color4;
  border-radius: 5px;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
}

.khProviderPanel,
.khInputPanel {
  margin: 0 5%;
}

.button,
.button:active,
.button:hover,
.button:visited {
  background-color: #377696;
  border: 1px solid $color4;
  border-radius: 5px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

input[type=search],
input[type=number]{
  box-shadow: none;
}
